* {
   padding: 0;
   margin: 0;
}

body {
   overflow: hidden;
}

::selection { display: none;}

#pan1 {
   height: 10vh;
   width: 25vh;
   position: absolute;
   top: 2vh;
   left: .8vw;
   background-image: url("Images/pan.svg");
   background-size: contain;
   overflow: hidden;
   display: flex;
   align-items: center;
}

#pan2 {
   height: 10vh;
   width: 25vh;
   position: absolute;
   top: 15vh;
   left: .8vw;
   background-image: url("Images/pan.svg");
   background-size: contain;
   overflow: hidden;
   display: flex;
   align-items: center;
}

.pan2Lock {
   height: 10vh;
   width: 25vh;
   position: absolute;
   top: 15vh;
   left: .8vw;
   display: flex;
   align-items: center;
}

.pan2Lock img {
   height: 10vh;
   margin: -2vh 0vw 0vh 2.5vw;
}


#plate1 {
   height: 10vh;
   width: 16vh;
   margin: 1vh 1.8vw;
   background-image: url("Images/plate.svg");
   background-size: cover;
   overflow: hidden;
   display: flex;
   align-items: center;
}

.rw-stk-strg {
   height: 25vh;
   position: absolute;
   top: 40vh;
   left: 15vw;
}

.bgr-brd-strg {
   height: 25vh;
   position: absolute;
   top: 40vh;
   left: 26vw;
}

.customers {
   width: 100vw;
   height: 15vh;
   background-color: #504c41;
   overflow: hidden;
}

.customer-counter {
   width: 100vw;
   height: 12vh;
   background-color: #5d4500;
}

.customer-counter-edge {
   width: 100vw;
   height: 3vh;
   background-color: #4b3800;
}

.customer-counter-underspace {
   width: 100vw;
   height: 8vh;
   background-color: #6f6f6f;
}

.work-counter {
   width: 100vw;
   height: 32vh;
   background-color: #ababab;
}

.work-counter-edge {
   width: 100vw;
   height: 3vh;
   background-color: #636262;
}

.work-counter-underspace {
   width: 100vw;
   height: 27vh;
   background-color: #424242;
}

.plate-carpet {
   position: absolute;
   top: 38vh;
   left: 1vw;
   width: 12vw;
   height: 32vh;
   background-color: #820606;
}

.stove {
   position: absolute;
   top: 38vh;
   left: 40vw;
   width: 20vw;
   height: 32vh;
   background-color: #222222;
}

.raw-steak-template {
   pointer-events: none;
   opacity: 0;
   position: absolute;
   top: 47vh;
   left: 17vw;
   height: 8vh;
   margin-top: -1vh;
   padding-left: 1.4vw;
}

.raw-steak {
   pointer-events: none;
   opacity: 0;
   position: absolute;
   top: 47vh;
   left: 17vw;
   height: 8vh;
   margin-top: -1vh;
   padding-left: 1vw;
}

.burger-bread-template {
   pointer-events: none;
   opacity: 0;
   position: absolute;
   top: 47vh;
   left: 25vw;
   height: 8vh;
   margin-top: -1vh;
   padding-left: 1.4vw;
}

.burger-bread {
   pointer-events: none;
   opacity: 0;
   position: absolute;
   top: 47vh;
   left: 25vw;
   height: 8vh;
   margin-top: -1vh;
   padding-left: 1vw;
}

#trsh-cn {
   position: absolute;
   left: 2vw;
   bottom: 2vh;
   height: 22vh;
   width: 8.6vw;
   background-image: url("Images/trshcn.svg");
   background-size: contain;
}

.customerTooltipParent { display: inline-block; }

.customer-template {
   display: inline-block;
   margin: 0 4.8vw;
}

#customer1 { width: 10vw; }
#customer2 { width: 10vw; }
#customer3 { width: 10vw; }
#customer4 { width: 10vw; }
#customer5 { width: 10vw; }

.moneyCounter {
   position: absolute;
   top: 15vh;
   width: 100vw;
   height: 12vh;
}

.money-template {
   pointer-events: none;
   opacity: 0;
   display: inline;
   width: 4vw;
   margin: -2vh 7.8vw;
}

.playerMoney {
   position: absolute;
   top: .5vh;
   left: 1vw;
   font-family: "Nunito";
   color: #fff;
   font-size: 5vh;
}

.customerTooltipParent { position: relative; }

.customerTooltip {
   pointer-events: none;
   opacity: 0;
   position: absolute;
   top: 1.8vh;
   left: 70%;
   height: 12vh;
   width: 7vw;
   border-radius: 1vh;
   background-color: #fcedff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.customerTooltip::before {
   content: "";
   position: absolute;
   top: 35%;
   margin-top: -2vh;
   right: 100%;
   border-style: solid;
   border-width: 2vh;
   border-color: transparent #fcedff transparent transparent;
}

.cutomer-demands {
   width: 6vw;
}

.settingsImg {
   position: absolute;
   top: 0;
   right: .5vw;
   width: 5vw;
}

.shadow {
   opacity: 0;
   pointer-events: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(25, 0, 0, 0.5);
   backdrop-filter: blur(.15vh);
   overflow: auto;
   transition: 0.8s;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modalContent {
   height: 80%;
   width: 90%;
   border-radius: 1vh;
   margin: 5vh;
   padding: 8vh 0;
   background-color: #ffc400;
   border: solid 2vh #cfa108;
   text-align: center;
   font-size: 8vh;
   font-family: "Nunito";
   transition: 0.8s;
   position: relative;
   box-sizing: border-box;
}

.closeModal {
   position: absolute;
   top: 3vh;
   right: 5vh;
   transition: .5s;
   color: #a78000;
}

.closeModal:hover { text-shadow: 0 0 .25vh #594500; }

a {
   color: #fff;
   text-decoration: none;
}

a:hover {
   color: #fff;
   animation: shiver 1s 1;
}

@keyframes shiver {
   0% {
      transform: translate(5vh, 5vh);
   }
   5% {
      transform: translate(-5vh);
   }
   10% {
      transform: translate(5vh);
   }
   100% {
      transform: translate(5vh);
   }
}
