<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cookin' in the Kitchen | Multiplayer Lobby</title>
</head>
<body>
    <div>
        <h2 class="roomcode-display">Room Code: </h2>
        <p class="waiting-text">Waiting to be let in</p>
        <ul class="waiting"></ul>
        <p>In the room</p>
        <ul class="inRoom"></ul>
    </div>    
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/Scripts/lobby.js"></script>
</html>
