<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cookin' in the Kitchen | Waiting Room</title>
</head>
<body>
    <div>
        <p class="nickname"></p>
        <p>Waiting to be let in...</p>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/Scripts/waiting.js"></script>
</html>
