* {
   padding: 0;
   margin: 0;
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.map {
   height: 600px;
   width: auto;
}

.fastfood {
   position: absolute;
   top: 355px;
   left: 340px;
   height: 175px;
   width: 210px;
}
